.navbar {
  height: 75px;
  display: grid;
  padding: 10px 1rem;
  background: #1c1d26;
  grid-template-columns: 2.2fr 6fr 3fr;
  border-bottom: 1px solid #393636;

  > .logo {
    img {
      height: 3rem;
      width: 3rem;
    }
  }

  > .search {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      height: 1.6rem;
      background-color: transparent;
      border: none;
      outline: none;
      width: 100%;
      color: white;
      font-size: 12px;
      font-family: Madani;
      font-weight: 600;
      border: 1px solid rgb(109, 109, 109);
      padding: 2px 7px;
      border-radius: 8px;
    }
  }

  > .profile {
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
    align-items: center;
    > .profileInfo {
      gap: 1rem;
      align-items: center;
      display: flex;
      > .image {
        position: relative;
      }
      .greenDot {
        position: absolute;
        bottom: 5px;
        left: -2px;
        width: 10px;
        height: 10px;
        background: #00b300;
        border-radius: 50%;
        margin-right: 5px;
      }

      img {
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 50%;
      }
    }
  }
}
